<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegProcessServlet</servlet-name>
        <servlet-class>RegProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProcessServlet</servlet-name>
        <servlet-class>LoginProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutProcServlet1</servlet-name>
        <servlet-class>LogoutProcServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegProcessServlet1</servlet-name>
        <servlet-class>RegProcessServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProcessServlet1</servlet-name>
        <servlet-class>LoginProcessServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyProcServlet</servlet-name>
        <servlet-class>VerifyProcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beneficiaryServlet</servlet-name>
        <servlet-class>beneficiaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BenefProcessServlet</servlet-name>
        <servlet-class>BenefProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify</servlet-name>
        <servlet-class>verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveProcServlet</servlet-name>
        <servlet-class>ApproveProcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferProcServlet</servlet-name>
        <servlet-class>TransferProcServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBalance</servlet-name>
        <servlet-class>CheckBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkbalanceservlet</servlet-name>
        <servlet-class>checkbalanceservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegProcessServlet</servlet-name>
        <url-pattern>/RegProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProcessServlet</servlet-name>
        <url-pattern>/LoginProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutProcServlet1</servlet-name>
        <url-pattern>/LogoutProcServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegProcessServlet1</servlet-name>
        <url-pattern>/RegProcessServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProcessServlet1</servlet-name>
        <url-pattern>/LoginProcessServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyProcServlet</servlet-name>
        <url-pattern>/VerifyProcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>beneficiaryServlet</servlet-name>
        <url-pattern>/beneficiaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BenefProcessServlet</servlet-name>
        <url-pattern>/BenefProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveProcServlet</servlet-name>
        <url-pattern>/ApproveProcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferProcServlet</servlet-name>
        <url-pattern>/TransferProcServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBalance</servlet-name>
        <url-pattern>/CheckBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkbalanceservlet</servlet-name>
        <url-pattern>/checkbalanceservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
